.videoThumbnailContainer{
    width: 9rem;
    height: 100%;
    outline-offset: 2px;
    border-radius: 16px;
    
    outline-color: #087ea4;
    background-color: rgb(74, 74, 74);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    display: flex;
    justify-content:center ;
    align-items: center;
    transform-origin: left;

    transition: var(--thumbnail-transition);
}

.videoThumbnailContainer svg{
    --tw-drop-shadow: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);

}


.playIconContainer{
    transition: var(--play-icon-transition);
}
 
